<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Listaustesti</servlet-name>
        <servlet-class>lemmikkitietokanta.Servlets.Listaustesti</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>lemmikkini</servlet-name>
        <servlet-class>lemmikkitietokanta.Servlets.lemmikkini</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>kirjautuminen</servlet-name>
        <servlet-class>lemmikkitietokanta.Servlets.kirjautuminen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>naytaJSP</servlet-name>
        <servlet-class>lemmikkitietokanta.Servlets.naytaJSP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ryhma</servlet-name>
        <servlet-class>lemmikkitietokanta.Servlets.Ryhma</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tietoni</servlet-name>
        <servlet-class>lemmikkitietokanta.Servlets.Tietoni</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Uloskirjautuminen</servlet-name>
        <servlet-class>lemmikkitietokanta.Servlets.Uloskirjautuminen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UusiLemmikki</servlet-name>
        <servlet-class>lemmikkitietokanta.Servlets.UusiLemmikki</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TallennaLemmikki</servlet-name>
        <servlet-class>lemmikkitietokanta.Servlets.TallennaLemmikki</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MuokkaaLemmikkia</servlet-name>
        <servlet-class>lemmikkitietokanta.Servlets.MuokkaaLemmikkia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TallennaMuutokset</servlet-name>
        <servlet-class>lemmikkitietokanta.Servlets.TallennaMuutokset</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TallennaLemmikinMuutokset</servlet-name>
        <servlet-class>lemmikkitietokanta.Servlets.TallennaLemmikinMuutokset</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PoistaLemmikki</servlet-name>
        <servlet-class>lemmikkitietokanta.Servlets.PoistaLemmikki</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RekisteroiUusiKayttaja</servlet-name>
        <servlet-class>lemmikkitietokanta.Servlets.RekisteroiUusiKayttaja</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Rekisteroityminen</servlet-name>
        <servlet-class>lemmikkitietokanta.Servlets.Rekisteroityminen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TallennaKayttajanMuokatutTiedot</servlet-name>
        <servlet-class>lemmikkitietokanta.Servlets.TallennaKayttajanMuokatutTiedot</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PoistaKayttaja</servlet-name>
        <servlet-class>lemmikkitietokanta.Servlets.PoistaKayttaja</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UusiHaku</servlet-name>
        <servlet-class>lemmikkitietokanta.Servlets.UusiHaku</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LinkkiKayttajaan</servlet-name>
        <servlet-class>lemmikkitietokanta.Servlets.LinkkiKayttajaan</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Listaustesti</servlet-name>
        <url-pattern>/Listaustesti</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>lemmikkini</servlet-name>
        <url-pattern>/lemmikkini</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>kirjautuminen</servlet-name>
        <url-pattern>/kirjautuminen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>naytaJSP</servlet-name>
        <url-pattern>/naytaJSP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ryhma</servlet-name>
        <url-pattern>/Ryhma</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tietoni</servlet-name>
        <url-pattern>/Tietoni</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Uloskirjautuminen</servlet-name>
        <url-pattern>/Uloskirjautuminen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UusiLemmikki</servlet-name>
        <url-pattern>/UusiLemmikki</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TallennaLemmikki</servlet-name>
        <url-pattern>/TallennaLemmikki</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MuokkaaLemmikkia</servlet-name>
        <url-pattern>/MuokkaaLemmikkia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TallennaMuutokset</servlet-name>
        <url-pattern>/TallennaMuutokset</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TallennaLemmikinMuutokset</servlet-name>
        <url-pattern>/TallennaLemmikinMuutokset</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PoistaLemmikki</servlet-name>
        <url-pattern>/PoistaLemmikki</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RekisteroiUusiKayttaja</servlet-name>
        <url-pattern>/RekisteroiUusiKayttaja</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Rekisteroityminen</servlet-name>
        <url-pattern>/Rekisteroityminen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TallennaKayttajanMuokatutTiedot</servlet-name>
        <url-pattern>/TallennaKayttajanMuokatutTiedot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PoistaKayttaja</servlet-name>
        <url-pattern>/PoistaKayttaja</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UusiHaku</servlet-name>
        <url-pattern>/UusiHaku</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LinkkiKayttajaan</servlet-name>
        <url-pattern>/LinkkiKayttajaan</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
